@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<section id="info" class="doublediagonal">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h3>@ViewBag.Message</h3>
            <div class="divider"></div>
            <p></p>
        </div>
    </div>
</section>
